*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222222;
    font-family: 'DM Sans';
}

body{
    color: #222222;
    font-family: 'DM Sans';
}
/* header */
#nav li a{
    color:#222222;
    font-weight: 500;
}
#management-btn{
    font-size: calc(0.5vw + 6px);
}
.hero-section{
    background: url('/assets/hero-section.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 60px;
    height: 897px;
    box-shadow: -1000px 0 600px #ffffff inset;
}
#hero-title{
    font-size: calc(2vw + 20px);
    line-height: 59.4px;
    font-weight: 700;
    padding-top: 10%;
}
#hero-title-p{
    color: #222222;
    font-size: calc(1vw + 8px);
    width: 503px;
    line-height: 29.12px;

}

#hero-card-1,#hero-card-2,#hero-card-3,#hero-card-4{
    background: white;
    text-align: center;
    width: 388px;
    margin: 240px 10px 0 10px;
    padding: 20px 40px 20px 40px;
    color: #ffffff;
    height: 243px;
    font-size: calc(0.5vw + 6px);   
}

#hero-card-1{
    background: #1C75BC;
}

#hero-card-2{
    background: #194CA0;
}
#hero-card-3{
    background: #0D2F65;
}
#hero-card-4{
    background: #222222;
}
.card-title{
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
}
#card-group-mobile{
    display: none;
}
.property-management-section{
    height: 1039px;
    background: url('/assets/property\ management.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    box-shadow: 0 450px 600px #ffffff inset;
}

#services-section{
    padding: 6% 0 6% 0;
}
.service-title p{
color:#222222;
}

#service-icon{
    width: 60px;
    height: 60px;
    padding: 16px;
    background:#F1F1F1;
}
.service-title p{
    color: #154CA4;
    font-size: 22px;
    font-weight: 700;
}
#service-description{
    color: #222222;
    font-size: 18px;
    font-weight: 400px;
    line-height: 36px;
}
.service-title a{
    text-decoration: none;
    color: #039444;
    font-weight: 700;
    font-size: 18px;
    margin-left: 5px;
}

#minimize-risk{
    padding: 40px 0 40px 0;
    background: #039444;
    display: flex;
    justify-content: center;
    align-items: center;
}
#minimize-risk p{
    font-size: 30px;
    width: 855px;
}
#minimize-risk img{
    width:40;
    background:#F1F1F1 ;
    padding: 10px;
    margin-top: -7px;
}

#why-hire-us-page{
    background: #222222;
    color: #ffffff;
    height: 1717px;
}
.description b, p{
    color: #ffffff;
    margin-left: 5%;
}

#why-hire-us-icon{
    width: 60px;
    height: 60px;
    background: #ffffff;
}
#why-hire-us-right-page{
    background: url('/assets/stewardship\ reality.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#section-4-card{
    padding: 20px;
    background: #F1F1F1;
    border-radius: 10px;
}
#section-4-card p{
    color: #222222;
}

/* badge */
#badge-btn{
    position: relative;
    left: 45%;
    margin-bottom: 20%;
    width: 200px;
}

/* areas we serve */
#areas-we-serve-section{
    height: 818px;
    background: url('/assets/areas\ we\ serve.png');
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}

.areas-we-serve-banner{
    height: 307px;
    width: 934px;
    background: #222222;
    transform:translateY(200%);
    padding: 10% 0 10% 0;
}

#title-div{
border:5px solid #D9D9D9;
min-width: 237px;
}

/* footer */
#footer{
    padding:10% 0 120px 0;
}
#footer li{
    list-style: none;
}

@media(max-width:990px){
    #card-group{
        display: none !important;
    }
    #card-group-mobile{
        display: block;
        margin-top: -10%;
    }
    .hero-section{
        background: url('/assets/hero-section-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: none
    }
    #hero-card-1,#hero-card-2,#hero-card-3,#hero-card-4{
        text-align: center;
        padding: 20px 40px 20px 40px;
        color: #ffffff;
        height: 243px;
        font-size: calc(0.5vw + 6px);
        margin: 50% 0 0 18%;
    }

}